@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string about = ViewBag.about;
}
@section css{
}
@section scripts{
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.MenuAbout</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li>@UserLang.MenuAbout</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--About Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    @Html.Raw(about)
                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-image">
                    <img src="public/img/banner/6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of About Page Area-->

