
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    string privacyPolicy = ViewBag.privacyPolicy;
}
@section css{
}
@section scripts{
}
@using Resources;
<!--Breadcrumb Banner Area Start-->
<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">@UserLang.PrivacyPolicy</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="@Url.RouteUrl("Home")">@UserLang.MenuHome</a></li>
                            <li>@UserLang.PrivacyPolicy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--PrivacyPolicy Page Area Start-->
<div class="about-page-area section-padding">
    <div class="container">
        <div class="about-text-container">
            @Html.Raw(privacyPolicy)
        </div>
    </div>
</div>
<!--End of PrivacyPolicy Page Area-->
